* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Nunito', sans-serif; }

a:hover {
  cursor: pointer; }

.redes a {
  display: block;
  text-decoration: none;
  color: #000000;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  margin: 5px; }

.containterr {
  grid-area: redes;
  position: fixed;
  bottom: 60px;
  right: 20px;
  background-color: #0d6efd;
  border-radius: 1cm;
  font-size: 30px;
   }

.navbar_fondo :hover {
    
    color: #0d6efd;

 
}



#galeria img {
  width: 100%; }

#galeria .col-lg-4 {
  padding: 10px; }

.imagenes_bordes {
  border-radius: 1cm; }
