* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nunito', sans-serif;
}

a:hover {
  cursor: pointer;
}

.redes a {
  display: block;
  text-decoration: none;
  color: #000000;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  margin: 5px;
}

.containterr {
  grid-area: redes;
  position: fixed;
  bottom: 60px;
  right: 20px;
  background-color: #ffffffe1;
  border-radius: 1cm;
  font-size: 30px;
}

.navbar_fondo :hover {

  color: #ffd900cc;


}



#galeria img {
  width: 100%;
}

#galeria .col-lg-4 {
  padding: 10px;
}

.imagenes_bordes {
  border-radius: 1cm;
}

.letras_index {
  background-color: #000000a9;
  border-radius: 1cm;
  padding: 1px;

}

.imgwrapper::before {
  content: "";
  inset: -15px;
  border: 6px solid var (--bg-c1r);
  border-top-color: rgb(0, 0, 0);
  border-radius: 50%;
  animation: spin 3s linear infinite;
}

.colorfondo {
  background-image: linear-gradient(to right, #09172a, #0e284b, #163a6e, #244d93, #385fb9);
}

.colornosotros {
  background-color: #09172a ;
}

.texto_nosotros {font-size: large;}